:host {
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin: auto;
  padding: 1rem;

  form {
    .buttons {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
    }
  }
}

.tooltip-wrapper {
  position: relative;

  .tooltip {
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: #555;
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    justify-content: center;
    color: #f0f0f0;
    font-weight: 900;
    cursor: help;

    span {
      line-height: 22px;
    }
  }
}
