<mat-sidenav-container>
  <mat-sidenav
    fixedInViewport
    [opened]="openSidenav"
    disableClose
    class="sidenav"
    mode="side"
    position="start">
    <div class="logo">
      <img src="assets/icons/potato.png" alt="" />

      <span>JPotato</span>
    </div>

    <div class="menu">
      <p>Menu</p>

      <ng-container *ngFor="let route of routes">
        <a
          *ngIf="!route.rol || route.rol === user?.rol"
          mat-button
          class="w-100"
          routerLinkActive="active"
          #rtl="routerLinkActive"
          [routerLink]="route.path"
          [disabled]="rtl.isActive">
          <mat-icon [color]="rtl.isActive ? 'disabled' : 'accent'">
            {{ route.icon }}
          </mat-icon>
          {{ route.label }}
        </a>
      </ng-container>

      <mat-divider></mat-divider>
    </div>

    <div class="session-controls">
      <button mat-fab (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar" color="accent">
      <span id="title">{{ title }}</span>

      <div class="user-info">
        <span *ngIf="showUser">{{ user?.rol }}</span>
        <mat-icon>account_circle</mat-icon>
      </div>
    </mat-toolbar>

    <div [@routeAnimations]="getRouterAnimationState()" class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
